// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * at91-sama5d27_som1_ek.dts - Device Tree file for SAMA5D27-SOM1-EK board
 *
 *  Copyright (c) 2017, Microchip Technology Inc.
 *                2016 Nicolas Ferre <nicolas.ferre@atmel.com>
 *                2017 Cristian Birsan <cristian.birsan@microchip.com>
 *                2017 Claudiu Beznea <claudiu.beznea@microchip.com>
 */
/dts-v1/;
#include "at91-sama5d27_som1.dtsi"
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Ukama Anode Controller board Rev-D";
	compatible = "atmel,sama5d27-som1-ek", "atmel,sama5d27-som1", "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	aliases {
		serial0 = &uart1;	/* DBGU */
		i2c0	= &i2c0;
		i2c1	= &i2c1;
        i2c2    = &i2c3;
		spi0    = &spi0;
		spi1 	= &spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ahb {
		usb0: gadget@300000 {
			atmel,vbus-gpio = <&pioA PIN_PD20 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usba_vbus>;
			status = "okay";
		};

		usb1: ohci@400000 {
			num-ports = <3>;
			atmel,vbus-gpio = <0 /* &pioA PIN_PD20 GPIO_ACTIVE_HIGH */
					   &pioA PIN_PA27 GPIO_ACTIVE_HIGH
					   0
					  >;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_default>;
			status = "okay";
		};

		usb2: ehci@500000 {
			status = "okay";
		};

		sdmmc0: sdio-host@a0000000 {
			bus-width = <8>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sdmmc0_default>;
			non-removable;
			status = "okay";
		};

		sdmmc1: sdio-host@b0000000 {
			bus-width = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sdmmc1_default>;
			status = "okay";
		};

		apb {
			spi0: spi@f8000000 {
				status = "okay";
				pinctrl-names = "default";
               	pinctrl-0 = <&pinctrl_spi0_default>;
				rfpal: sc1894@0 {
					compatible = "adi,sc1894-userspace";
                    reg = <0>; /* CS0 */
				};
			};
			
			spi1: spi@fc000000 {
                status = "okay";
                pinctrl-names = "default";
                inctrl-0 = <&pinctrl_spi1_default>;
                rfpal2: sc1894@0 {
                    compatible = "adi,sc1894-userspace";
                    reg = <0>; /* CS0 */
                };
           };
			
			qspi1: spi@f0024000 {
                status = "okay";
			};	
			
			macb0: ethernet@f8008000 {
				status = "okay";
			};

			tcb0: timer@f800c000 {
				timer0: timer@0 {
					compatible = "atmel,tcb-timer";
					reg = <0>;
				};

				timer1: timer@1 {
					compatible = "atmel,tcb-timer";
					reg = <1>;
				};
			};

			uart1: serial@f8020000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart1_default>;
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};

			i2c0: i2c@f8028000 {
				dmas = <0>, <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c0_default>;
				status = "okay";
			};


			flx1: flexcom@f8038000 {
				atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
				status = "okay";

				i2c3: i2c@600 {
					compatible = "atmel,sama5d2-i2c";
					reg = <0x600 0x200>;
					interrupts = <20 IRQ_TYPE_LEVEL_HIGH 7>;
					dmas = <0>, <0>;
					dma-names = "tx", "rx";
					#address-cells = <1>;
					#size-cells = <0>;
					clocks = <&pmc PMC_TYPE_PERIPHERAL 20>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_i2c2_default>;
					atmel,fifo-size = <16>;
					status = "okay";
			        
                    /* FEMA 2 */
				    f2lm75: lm75@49 {
                        compatible = "national,lm75a";
                        reg = <0x49>;
                    };

                    f2ads: ads1015@48 {
                        compatible = "ti,ads1015";
                        reg = <0x48>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                        /* ti,gain = <3>;
                        ti,datarate = <5> */
                    };
				
				    f2eeprom: m24128@57 {
					    compatible = "atmel,24c256";
                        reg = <0x57>;
				    }; 

				    f2padac: ad5667@c {
					    compatible = "adi,ad5667 ";
					    reg = <0x0c>;
					    vcc-supply = <&padacref>;
				    };
				};
			};

			poweroff@f8048010 {
				debounce-delay-us = <976>;
				atmel,wakeup-rtc-timer;

				input@0 {
					reg = <0>;
					atmel,wakeup-type = "low";
				};
			};

			watchdog@f8048040 {
				status = "okay";
			};
            
			i2c1: i2c@fc028000 {
				dmas = <0>, <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c1_default>;
				status = "okay";
				
                /* Controller Board */
				se982: se98@18 {
					compatible = "jedec,jc-42.4-temp";
					reg = <0x18>;
				};
					
				eeprom: mpcat24@50 {
                    compatible = "atmel,24c256";
                    reg = <0x50>;
                };
				
                /* FEMA 1 */
				f1lm75: lm75@49 {
                    compatible = "national,lm75a";
                    reg = <0x49>;
                };

                f1ads: ads1015@48 {
                    compatible = "ti,ads1015";
                    reg = <0x48>;
                    #address-cells = <1>;
                    #size-cells = <0>;
                    /* ti,gain = <3>;
                    ti,datarate = <5> */
                };
				
				f1eeprom: m24128@57 {
					compatible = "atmel,24c256";
                    reg = <0x57>;
				}; 

				f1padac: ad5667@c {
					compatible = "adi,ad5667 ";
					reg = <0x0c>;
					vcc-supply = <&padacref>;
				};
			};

			adc: adc@fc030000 {
				vddana-supply = <&vddana>;
				vref-supply = <&advref>;

				status = "disabled";
			};

			pinctrl@fc038000 {
			    pinctrl_spi0_default: spi0_default {
                    pinmux = <PIN_PA14__SPI0_SPCK>,
                             <PIN_PA15__SPI0_MOSI>,
				       	     <PIN_PA16__SPI0_MISO>,
				             <PIN_PA17__SPI0_NPCS0>,
				             <PIN_PA27__SPI0_NPCS2>;
                    bias-pull-up;
                };
				
				pinctrl_spi1_default: spi1_default {
                    pinmux = <PIN_PC1__SPI1_SPCK>,
                             <PIN_PC2__SPI1_MOSI>,
                             <PIN_PC3__SPI1_MISO>,
                             <PIN_PC4__SPI1_NPCS0>,
                             <PIN_PC5__SPI1_NPCS1>;
                    bias-pull-up;
                };

				pinctrl_i2c0_default: i2c0_default {
					pinmux = <PIN_PD21__TWD0>,
						 <PIN_PD22__TWCK0>;
					bias-disable;
				};

				pinctrl_i2c1_default: i2c1_default {
					pinmux = <PIN_PD4__TWD1>,
						 <PIN_PD5__TWCK1>;
					bias-disable;
				};

				pinctrl_controller_led1_default: controller_led1_default {
					 pinmux = <PIN_PA31__GPIO>,
						  <PIN_PB1__GPIO>,
						  <PIN_PA25__GPIO>;
					 bias-pull-up;
				};
		
				pinctrl_controller_led2_default: controller_led2_default {
					 pinmux = <PIN_PA11__GPIO>,
						  <PIN_PA10__GPIO>,
						  <PIN_PA12__GPIO>;
					 bias-pull-up;
				};
				
				
				pinctrl_controller_led3_default: controller_led3_default {
					 pinmux = <PIN_PB25__GPIO>,
						  <PIN_PA27__GPIO>,
						  <PIN_PB24__GPIO>;
					 bias-pull-up;
				};

				pinctrl_controller_led4_default: controller_led4_default {
					 pinmux = <PIN_PB11__GPIO>,
						  <PIN_PB9__GPIO>,
						  <PIN_PA29__GPIO>;
					 bias-pull-up;
				};
			    
                pinctrl_controller_key_button_default: controller_key_button_default {
                    pinmux = <PIN_PB28__GPIO>;
                    bias-pull-up; 
                };	

				pinctrl_controller_gpios_default: controller_gpios_default {
					pinmux = <PIN_PB3__GPIO>,
						 <PIN_PC27__GPIO>,
                         <PIN_PB30__GPIO>;
                    bias-pull-up;
				};
				
				pinctrl_fema1_gpios_default: fema1_gpios_default {
					pinmux = <PIN_PB4__GPIO>,
						 <PIN_PB27__GPIO>,
						 <PIN_PB29__GPIO>,
						 <PIN_PB8__GPIO>,
						 <PIN_PB31__GPIO>,
						 <PIN_PB22__GPIO>,
						 <PIN_PB23__GPIO>;
                   bias-pull-up;
				};
				
				pinctrl_fema2_gpios_default: fema2_gpios_default {
					pinmux = <PIN_PC15__GPIO>,
						 <PIN_PC10__GPIO>,
						 <PIN_PC6__GPIO>,
						 <PIN_PC9__GPIO>,
						 <PIN_PC14__GPIO>,
						 <PIN_PC19__GPIO>,
						 <PIN_PC20__GPIO>;
					bias-pull-up;
				};
				
				pinctrl_sdmmc0_default: sdmmc0_default {
					cmd_data {
						pinmux = <PIN_PA1__SDMMC0_CMD>,
							 <PIN_PA2__SDMMC0_DAT0>,
							 <PIN_PA3__SDMMC0_DAT1>,
							 <PIN_PA4__SDMMC0_DAT2>,
							 <PIN_PA5__SDMMC0_DAT3>,
							 <PIN_PA6__SDMMC0_DAT4>,
							 <PIN_PA7__SDMMC0_DAT5>,
							 <PIN_PA8__SDMMC0_DAT6>,
							 <PIN_PA9__SDMMC0_DAT7>;
						bias-disable;
					};

					ck_cd_vddsel {
						pinmux = <PIN_PA0__SDMMC0_CK>;
						bias-disable;
					};
				};

				pinctrl_sdmmc1_default: sdmmc1_default {
					cmd_data {
						pinmux = <PIN_PA28__SDMMC1_CMD>,
							 <PIN_PA18__SDMMC1_DAT0>,
							 <PIN_PA19__SDMMC1_DAT1>,
							 <PIN_PA20__SDMMC1_DAT2>,
							 <PIN_PA21__SDMMC1_DAT3>;
						bias-disable;
					};

					conf-ck_cd {
						pinmux = <PIN_PA22__SDMMC1_CK>,
							 <PIN_PA30__SDMMC1_CD>;
						bias-disable;
					};
				};

				pinctrl_uart1_default: uart1_default {
					pinmux = <PIN_PD2__URXD1>,
						 <PIN_PD3__UTXD1>;
					bias-disable;
				};

				pinctrl_usb_default: usb_default {
					pinmux = <PIN_PA27__GPIO>,
						 <PIN_PD19__GPIO>;
					bias-disable;
				};

				pinctrl_usba_vbus: usba_vbus {
					pinmux = <PIN_PD20__GPIO>;
					bias-disable;
				};

				pinctrl_i2c2_default: i2c2_default {
					pinmux = <PIN_PA24__FLEXCOM1_IO0>,
						 <PIN_PA23__FLEXCOM1_IO1>;
					bias-disable;
				};
				
				pinctrl_controller_key_button: fema_button {
					pinmux = <PIN_PB28__GPIO>;
					bias-disable;
				};
			};
			
		};
	};
	
	gpio-keys {
        compatible = "gpio-keys";

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_controller_key_button>;
        user-button {
            label = "USER-BUTTON";
            gpios = <&pioA PIN_PB28 GPIO_ACTIVE_LOW>;
            linux,code = <0x100>;
            wakeup-source;
        };
    };

    controller-gpios {
        compatible = "ukama,controller-gpios";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_controller_gpios_default>;
        status = "okay";    
       
		controller-therm-alert = <&pioA PIN_PB3 GPIO_ACTIVE_LOW>;
        
        psu-pgood = <&pioA PIN_PC27 GPIO_ACTIVE_LOW>;
	    
        eeprom-wp-enable = <&pioA PIN_PB30 GPIO_ACTIVE_LOW>;
        eeprom-wp-enable-default = <1>;
    
    };

	fema1-gpios {
		compatible = "ukama,fema-gpios";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_fema1_gpios_default>;
		status = "okay"; 
		
		pg-reg-5v = <&pioA PIN_PB4 GPIO_ACTIVE_LOW>;
	    
		eeprom-wp-enable = <&pioA PIN_PB27 GPIO_ACTIVE_LOW>;
		eeprom-wp-enable-default = <1>;

		tx-rf-enable = <&pioA PIN_PB29 GPIO_ACTIVE_LOW>;
        tx-rf-enable-default = <0>;
        
		rx-rf-enable = <&pioA PIN_PB8 GPIO_ACTIVE_LOW>;
        rx-rf-enable-default = <0>;
        	
		pa-disable = <&pioA PIN_PB31 GPIO_ACTIVE_LOW>;
		pa-disable-default = <0>;
        
		pa-vds-enable = <&pioA PIN_PB23 GPIO_ACTIVE_LOW>;
		pa-vds-enable-default = <0>;
        
		rf-pal-enable = <&pioA PIN_PB22 GPIO_ACTIVE_LOW>;
		rf-pal-enable-default = <0>;
	};

    	
	fema2-gpios {
		compatible = "ukama,fema-gpios";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_fema2_gpios_default>;
		status = "okay"; 
		
		pg-reg-5v = <&pioA PIN_PC15 GPIO_ACTIVE_LOW>;
	    
		eeprom-wp-enable = <&pioA PIN_PC10 GPIO_ACTIVE_LOW>;
		eeprom-wp-enable-default = <1>;

		tx-rf-enable = <&pioA PIN_PC6 GPIO_ACTIVE_LOW>;
        tx-rf-enable-default = <0>;
        
		rx-rf-enable = <&pioA PIN_PC9 GPIO_ACTIVE_LOW>;
        rx-rf-enable-default = <0>;
        	
		pa-disable = <&pioA PIN_PC14 GPIO_ACTIVE_LOW>;
		pa-disable-default = <0>;
        
		pa-vds-enable = <&pioA PIN_PC19 GPIO_ACTIVE_LOW>;
		pa-vds-enable-default = <0>;
        
		rf-pal-enable = <&pioA PIN_PC20 GPIO_ACTIVE_LOW>;
		rf-pal-enable-default = <0>;
	};

	watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&pioA PIN_PB7 GPIO_ACTIVE_LOW>;
		hw_algo = "toggle";
		hw_margin_ms = <1120>;		
	};
	
	led1 {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_controller_led1_default>;
		status = "okay"; /* Conflict with pwm0. */

		red1 {
			label = "red1";
			gpios = <&pioA PIN_PA31 GPIO_ACTIVE_HIGH>;
		};

		green1 {
			label = "green1";
			gpios = <&pioA PIN_PB1 GPIO_ACTIVE_HIGH>;
		};

		blue1 {
			label = "blue1";
			gpios = <&pioA PIN_PA25 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	led2 {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_controller_led2_default>;
		status = "okay"; /* Conflict with pwm0. */

		red2 {
			label = "red2";
			gpios = <&pioA PIN_PA11 GPIO_ACTIVE_HIGH>;
		};

		green2 {
			label = "green2";
			gpios = <&pioA PIN_PA10 GPIO_ACTIVE_HIGH>;
		};

		blue2 {
			label = "blue2";
			gpios = <&pioA PIN_PA12 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "default-on";
		};
	};

	led3 {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_controller_led3_default>;
		status = "okay"; /* Conflict with pwm0. */

		red3 {
			label = "red3";
			gpios = <&pioA PIN_PA15 GPIO_ACTIVE_HIGH>;
		};

		green3 {
			label = "green3";
			gpios = <&pioA PIN_PA13 GPIO_ACTIVE_HIGH>;
		};

		blue3 {
			label = "blue3";
			gpios = <&pioA PIN_PA14 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "default-on";
		};
	};

	led4 {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_controller_led4_default>;
		status = "okay"; /* Conflict with pwm0. */

		red4 {
			label = "red4";
			gpios = <&pioA PIN_PA17 GPIO_ACTIVE_HIGH>;
		};

		green4 {
			label = "green4";
			gpios = <&pioA PIN_PA16 GPIO_ACTIVE_HIGH>;
		};

		blue4 {
			label = "blue4";
			gpios = <&pioA PIN_PA26 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "default-on";
		};
	};
	
	vddin_3v3: fixed-regulator-vddin_3v3 {
		compatible = "regulator-fixed";

		regulator-name = "VDDIN_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		status = "okay";
	};

	vddana: fixed-regulator-vddana {
		compatible = "regulator-fixed";

		regulator-name = "VDDANA";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vddin_3v3>;
		status = "okay";
	};

	advref: fixed-regulator-advref {
		compatible = "regulator-fixed";

		regulator-name = "advref";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vddana>;
		status = "okay";
	};
	
	padacref: fixed-regulator-padac {
		compatible = "regulator-fixed";

        regulator-name = "padacref";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        regulator-always-on;
        regulator-boot-on;
        status = "okay";
	};
};
